{% extends 'base.html' %}
{% block title %}
    <title>Add New Movie</title>
{% endblock %}

{% block content %}

<!--<form method="post">-->
<!--    <div class="form-group">-->
<!--        <label for="title" >Title of the movie:</label>-->
<!--        <input id="title" type="text" name="title" placeholder="Insert the title of the movie"/>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="year" >Year:</label>-->
<!--        <input id="year" type="text" name="year" placeholder="Insert the year of the movie"/>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="rating" >Rating:</label>-->
<!--        <input id="rating" type="text" name="rating" placeholder="Insert the rating of the movie"/>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="duration" >Duration:</label>-->
<!--        <input id="duration" type="duration" name="duration" placeholder="Insert the duration of the movie"/>-->
<!--        </div>-->
<!--    <div class="form-group">-->
<!--        <label for="genre" >Genre:</label>-->
<!--        <input id="genre" type="text" name="genre" placeholder="Insert the genre of the movie"/>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <button type="submit" class="btn btn-primary">Submit</button>-->
<!--    </div>-->
<!--</form>-->

<form method="post" class="mt-4">
    <div class="form-group">
        <label for="title">Title of the movie:</label>
        <input id="title" type="text" name="title" placeholder="Insert the title of the movie" class="form-control" />
    </div>
    <div class="form-group">
        <label for="year">Year:</label>
        <input id="year" type="text" name="year" placeholder="Insert the year of the movie" class="form-control" />
    </div>
    <div class="form-group">
        <label for="rating">Rating:</label>
        <input id="rating" type="text" name="rating" placeholder="Insert the rating of the movie" class="form-control" />
    </div>
    <div class="form-group">
        <label for="duration">Duration:</label>
        <input id="duration" type="duration" name="duration" placeholder="Insert the duration of the movie" class="form-control" />
    </div>
    <div class="form-group">
        <label for="genre">Genre:</label>
        <input id="genre" type="text" name="genre" placeholder="Insert the genre of the movie" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>


{% endblock %}